/* Empty. Add your own CSS if you like */

.chalenger_description {
  font-size: 16px;
  white-space: pre;
  background-color: whitesmoke;
  width: 50%;
}

.blocks_container, .maths_container, .chalenger_description, .messages {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.maths_container div {
  display: inline-block;
  background-color: #D9D9D9;
  text-align: center;
  padding: 10px;
  width: initial;
  margin: 20px;
}

.blocks_container div {
  display: inline-block;
  margin: 5px;
  width: 200px;
  height: 200px;
  background-size: 150px;
  border: 1px gray solid;
  background-repeat: no-repeat;
  background-position: center;
}

.blocks_container .threebaloons {
  background-image: url("../img/3baloes.jpeg");
  background-size: 132px;
  width: 145px;
}

.blocks_container .oneball {
  background-image: url("../img/1ball.jpeg");
  width: 156px;
}

.blocks_container .sevendolls {
  background-image: url("../img/7dolls.jpg");
}

.blocks_container .oneairplane {
  background-image: url("../img/aviao.jpg");
}
.blocks_container .fourairplane {
  background-image: url("../img/aviao.jpg");
  width: 207px;
  background-repeat: repeat;
  background-position: left;
  background-size: 101px;
}

.blocks_container .sixhorse {
  background-image: url("../img/cavalinho.jpg");
  background-repeat: repeat;
  background-position: left;
  background-size: 83px;
  width: 166px;
}

.blocks_container .twobear {
  background-image: url("../img/urso.jpg");
  background-repeat: repeat;
  background-size: 75px;
  background-position: initial;
  width: 74px;
}

.blocks_container .genius {
  background-image: url("../img/genius.jpg");
  background-size: initial;
  width: 355px;
}

.blocks_container .eigthavengers {
  background-image: url("../img/8osvingadores.png");
  background-size: 300px;
  width: 300px;
}

.blocks_container .hulkandthor {
  background-image: url("../img/hulkandthor.png");
  background-size: 300px;
  width: 300px;
}

.blocks_container .twentytwoavengers {
  background-image: url("../img/22superherois.jpg");
  background-size: 170px;
}
.blocks_container .mulhermaravilha {
  background-image: url("../img/mulhermaravilha.png");
}

.blocks_container .eigthavengers, .blocks_container .hulkandthor,
.blocks_container .twentytwoavengers,.blocks_container .mulhermaravilha {
  margin-left: 5px;
}
.maths_container [state="selected"] {
  border: 2px solid mediumvioletred !important;
}

.container .messages{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  width: 50%;
  border-radius: 10px;
}
