/* Empty. Add your own CSS if you like */

.chalenger_description {
  font-size: 16px;
  white-space: pre;
  background-color: whitesmoke;
  width: 50%;
}

.blocks_container, .maths_container, .chalenger_description, .messages {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.maths_container div {
  display: inline-block;
  background-color: #D9D9D9;
  text-align: center;
  padding: 10px;
  width: initial;
  margin: 20px;
}

.blocks_container div {
  display: inline-block;
  width: 200px;
  margin: 20px;
  background-repeat: no-repeat;
}

.blocks_container .threebaloons {
  background-image: url("../img/3baloes.jpeg");
  width: 184px;
  height: 200px;
}

.blocks_container .oneball {
  background-image: url("../img/1ball.jpeg");
  width: 143px;
  height: 138px;
}

.blocks_container .sevendolls {
  background-image: url("../img/7dolls.jpg");
  width: 236px;
  height: 300px;
}

.blocks_container .oneairplane {
  background-image: url("../img/aviao.jpg");
  width: 143px;
  height: 138px;
}
.blocks_container .fourairplane {
  background-image: url("../img/aviao.jpg");
  width: 254px;
  height: 181px;
  background-repeat: repeat;
}

.blocks_container .sixhorse {
  background-image: url("../img/cavalinho.jpg");
  width: 350px;
  height: 200px;
  background-repeat: repeat;
}

.blocks_container .twobear {
  background-image: url("../img/urso.jpg");
  width: 74px;
  height: 191px;
  background-repeat: repeat;
}

.blocks_container .genius {
  background-image: url("../img/genius.jpg");
  width: 300px;
  height: 172px;
}

.blocks_container .eigthavengers {
  background-image: url("../img/8osvingadores.png");
  height: 360px;
  width: 299px;
}

.blocks_container .hulkandthor {
  background-image: url("../img/hulkandthor.png");
  width: 360px;
  height: 360px;
}

.blocks_container .twentytwoavengers {
  background-image: url("../img/22superherois.jpg");
  height: 360px;
  width: 300px;
}
.blocks_container .mulhermaravilha {
  background-image: url("../img/mulhermaravilha.png");
  height: 360px;
  width: 150px;
}

.blocks_container .eigthavengers, .blocks_container .hulkandthor,
.blocks_container .twentytwoavengers,.blocks_container .mulhermaravilha {
  margin-left: 5px;
}
.maths_container [state="selected"] {
  border: 2px solid mediumvioletred !important;
}

.container .messages{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  width: 50%;
  border-radius: 10px;
}
